@import "tailwindcss";

@font-face {
  font-family: "EBGaramond";
  src: url("/EBGaramond.ttf") format("truetype");
}

@font-face {
  font-family: "CrimsonPro";
  src: url("/CrimsonPro.ttf") format("truetype");
}

@theme {
  --font-serif: serif;
}

@layer utilities {
  .text-dark {
    color: #2c2623;
  }

  .text-main {
    color: #fe664a;
  }

  .font-heading {
    font-family: "EBGaramond", serif;
  }

  .font-body {
    font-family: "CrimsonPro", serif;
  }
}

html {
  background-color: #ffffff;
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
