.navbar {
}

.logo {
  font-family: "EBGaramond", serif;
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 32px;
}

.navbar > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-work {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav-personal {
  display: flex;
}
